[submodule "third-party/server"]
	path = third-party/server
	url = git@github.com:UnblockNeteaseMusic/server.git
[submodule "third-party/SingleApplication"]
	path = third-party/SingleApplication
	url = git@github.com:itay-grudev/SingleApplication.git
[submodule "third-party/QSimpleUpdater"]
	path = third-party/QSimpleUpdater
	url = git@github.com:alex-spataru/QSimpleUpdater.git
